#Simulacao:
sim/
csrc/
simv
simv.daidir/
simv.vdb/
ucli.key
vc_hdrs.h
AN.DB/

#DVE/Verdi:
DVEfiles/
verdiLog/
novas*
*.fsdb
*.vpd
*.vcd
*.vdb

#Sintese/Formality:
WORK/
work/
alib-52/
command.log
filenames.log
default.svf
formality_svf/
fm_shell_command.log*
